<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Welkom!</h1>
    <table>
        <tr>
            <td/>
            <td/>Actie: zoeken</td>
            <td>Actie: maken</td>
        </tr>
        <tr>
            <td>Persoon</td>
            <td><a href="search_person">zoeken</a></td>
            <td><a href="create_person">maken</a></td>
        </tr>
        <tr>
            <td>Gebeurtenis</td>
            <td><a href="search_event">zoeken</a></td>
            <td><a href="create_event">maken</a></td>
        </tr>
        <tr>
            <td>Periode</td>
            <td><a href="search_period">zoeken</a></td>
            <td><a href="create_period">maken</a></td>
        </tr>
    </table>
</body>
</html>