# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\vakken\MakeITWork\OO_Design_Principles_SolidExamples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
